﻿/* 
  Define  Application Form Css
*/

#applicationForm .warning { float: right; }

#applicationForm select {
    min-width: 50%;
    height: 19px;
}

#applicationForm input[type=text] {
    min-width: 50%;
    height: 15px;
}

#applicationForm textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

#applicationForm select,
#applicationForm input[type=text],
#applicationForm textarea { margin-bottom: 10px; }

#applicationForm input.formSubmitter {
    margin-top: 10px;
    float: right;
}

#applicationForm input[type=submit] {
    border: none;
    background-color: #9D948B;
    color: white;
    margin: 0;
    padding: 1px 4px 2px 4px;
    border-radius: 2px;
}

#applicationForm input[type=submit]:hover {
    cursor: pointer;
    background-color: #69645F;
}

#applicationForm select,
#applicationForm input[type=text],
#applicationForm textarea {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #9D948B;
    font-size: 11px;
}

.SI-FILES-STYLIZED label.cabinet {
    width: 80px;
    height: 22px;
    background-color: #9D948B;
    margin-bottom: 5px;
    float: left;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    color: white;
    line-height: 22px;
    font-size: 13.3px;
}

.SI-FILES-STYLIZED label.cabinet:hover {
    background-color: #69645F;
    cursor: pointer;
}

.SI-FILES-STYLIZED label.cabinet span {
    display: block;
    margin-top: -22px;
    text-align: center;
}

.SI-FILES-STYLIZED label.cabinet input.file:hover {
    cursor: pointer;
    background: none;
}

.SI-FILES-STYLIZED label.cabinet input.file {
    background: none;
    position: relative;
    height: 22px;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.SI-FILES-STYLIZED span.filename {
    float: left;
    font-size: 13.3px;
    height: 22px;
    line-height: 22px;
    margin: 0 0 5px 5px;
}