<template>
  <div id="app">
       <corona-overview-stats/>
  </div>
</template>

<script>
import CoronaOverviewStats from "./components/CoronaOverviewStats";
export default {
  name: "app",
  components: {
    CoronaOverviewStats
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
