<template>
  <div class="card text-center m-5"> 
    <h1>Coronatracker - Global Stats Overview (COVID-19)</h1>
    <div class="text-center">
      <ul>
        <li>Total confirmed: {{statsOverview.totalConfirmed}}</li>
        <li>Total deaths: {{statsOverview.totalDeaths}}</li>
        <li>Total recovered: {{statsOverview.totalRecovered }}</li>
        <li>Total critical: {{statsOverview.totalCritical }}</li>
        <li>Total active cases: {{statsOverview.activeCases}}</li>
        <li>Last update date: {{statsOverview.lastUpdated}}</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "CoronaOverviewStats",
  data() {
    return {
      statsOverview: {},
    };
  },
  async created() {
    const response = await fetch(
      "http://api.coronatracker.com/v3/stats/worldometer/country?limit=1"
    );
    const data = await response.json();
    if (data) {
      this.statsOverview = data[0];
    }
  },
};
</script>

<style scoped>
</style>
